.form-inline {
    justify-content: center;
}

.container {
    width: 100%;
}

input {
    border-radius:0;
    padding: 20px;
}

button {
    border-radius: 0;
    height:42px;
}

input.content {
    width: 400px;
}
